<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- LINK STYLESHEETS HERE -->
        <!-- ADD PRE-LOAD JS HERE -->
    </head>

    <body>
        <nav>
            <!-- NAVBAR STUFF HERE -->
        </nav>
